.footer {
    background-color: #e9edc9;
    border-radius: 0rem 0rem 1rem 1rem;
  }
  
  .card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
  }
  
  .card {
    width: 300px;
    background-color: #e9edc9;
    border: none;
    color: #606c38;
  }

  .card-lg {
    width: 600px;
  }
  
  .social-media a {
    margin-right: 10px;
  }

  