<div class="footer">
    <div class="container">
      <div class="card-deck">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Company</h5>
            <p class="card-text">Company information goes here</p>
            <img src="path/to/logo.png" alt="Company Logo">
            <div class="social-media">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Links and Resources</h5>
            <ul class="list-unstyled">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
            </ul>
          </div>
        </div>
        
        <div class="card">
          <div class="card-body">
            <app-contact-form></app-contact-form>
          </div>
        </div>
      </div>
    </div>
</div>  