.recipe-search-form {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 20px;
  background-color: #e9edc9;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group > label {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.h3 {
  font-size: 1.25rem;
  margin-bottom: 16px;
  text-align: left !important;
}

.border-0 {
  border: 0;
}

.chevron {
  width: 18px;
  height: 18px;
  margin-left: 5px;
  background-image: url(~/src/assets/chevron-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.chevron-up {
  background-image: url(~/src/assets/chevron-up.svg);
}

h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.ingredients-container {
  margin-bottom: 20px;
}

.checkbox-container,
.show-checkboxes {
  display: none;
}

.show-checkboxes {
  display: block;
  margin-top: 10px;
}

.checkbox-container div {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.field {
  display: flex;
}

.selected-items {
  margin-bottom: 20px;
  margin-top: 20px;
}

.recipe-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.tag {
  background-color: #96a535;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
}

h4 {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.form-control {
  padding-left: 0.5rem;
}

h1,
p {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .navbar {
    border-radius: 0;
  }

  .wrapper {
    margin: 0;
  }

  .recipe-search-form {
      max-width: 100%;
      padding: 10px;
  }

  .form-group > label {
      font-size: 1rem;
  }

  .h3 {
      font-size: 1rem;
  }

  .btn-primary {
      font-size: 16px;
  }

  .tag {
      margin: 2px;
  }

  h4 {
      margin: 10px;
  }

  .navbar-brand, .nav-link {
      font-size: 14px;
  }
}
