<div class="row">
    <div class="col-10 offset-1">
      <div class="row my-5">
        <h3 class="mb-3">Welcome to Recipe Finder App</h3>
        <div class="col-12 col-md-6 px-3">
          <p>
            At Recipe Finder App, we are passionate developers with a hunger for
            both delicious food and innovative solutions. Our mission is to
            empower you to explore the world of cooking, experiment with your
            favorite ingredients, and create mouthwatering meals that suit your
            dietary preferences and allergies.
          </p>
          <p>
            Recipe Search and Personalization: Our Recipe Search feature, powered
            by APIs from renowned platforms such as Edamam and Spoonacular, allows
            you to embark on a culinary adventure. Whether you have a specific
            ingredient in mind or want to discover new recipes, our smart search
            engine will cater to your needs. Say goodbye to endless searching and
            hello to a plethora of delectable possibilities!
          </p>
          <p>
            For those with dietary restrictions or allergies, fear not! Our system
            allows you to customize your recipe search based on your preferences.
            Filter out ingredients that don't agree with you, select your favorite
            meal types, and explore a world of culinary options tailored just for
            you.
          </p>
          <p>
            Planning meals for the week has never been easier with our Weekly Meal
            Plans feature. Whether you're a busy professional, a student on the
            go, or a family looking for diverse meals, we've got you covered.
            Access carefully curated meal plans that include delicious recipes,
            well-balanced nutrition, and a pinch of inspiration.
          </p>
  
        </div>
  
        <div class="col-12 col-md-6">
          <p>
              As fellow food enthusiasts, we understand the importance of keeping
              track of the recipes we love. Our "Favorites" lets you save your most
              cherished recipes in one place, making it easy to revisit and recreate
              your culinary triumphs.
            </p>
            <p>
              But why stop there? We go beyond just collecting recipes. With our
              innovative "Shopping List Generator," you can effortlessly create
              shopping lists directly from your favorite recipes. No more missing
              ingredients or last-minute grocery runs - we've got your back!
            </p>
            <p>
              So, whether you're an experienced chef looking for fresh ideas or a
              novice eager to explore the kitchen, join us on this culinary journey,
              and let your creativity flourish. At Recipe Finder App, cooking is not
              just an art; it's an adventure! Together, let's savor the flavors of
              technology and the joy of cooking. Happy cooking
            </p>
        </div>
      </div>
    </div>
  </div>
  