<h4 class="mt-5">Eating is neccessity, but Cooking is an Art</h4>
<h3 class="mb-3">Recipe of the day</h3>
<div class="container mainWrap" @Fading>
  <div class="row">
    <div class="col-6 mt-2"></div>
  </div>

  <div class="row">
    <div class="col-6 px-5 my-4">
      <div class="card">
        <img src="{{ randomReceipe.image }}" alt="img" />
      </div>
    </div>

    <div class="col-6 receipeText pe-5 my-4">
      <h3 class="mb-2">{{ randomReceipe.label }}</h3>
      <p>
        All what you need for this receipe is: <br />
        {{ randomReceipe.ingredientLines }}
      </p>
      <p class="bi bi-fire py-1">
        Calories: {{ randomReceipe.calories | number : "1.0-0" }} kcal
      </p>
      <p class="bi bi-stopwatch">
        Time: {{ randomReceipe.totalTime | number }} minutes
      </p>
    </div>
  </div>
</div>
