<!-- <div *ngFor="let recipe of fav">
  <p>{{ recipe.label }}</p>
  <p>{{ recipe.calories }}</p>
</div> -->
<div id="container">
  <div class="shopping-list-container">
    <h2 class="text-center" id="meal-plan-heading">Shopping List</h2>

    <table class="table table-bordered">
      <thead>
        <tr id="head">
          <th>Recipe Ingredients</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tr *ngFor="let recipe of fav">
        <td>
          <ul class="list-unstyled">
            <li>
              {{ recipe.label }}
            </li>
            <li *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient.food }}
            </li>
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            <li>
              <button
                class="btn btn-danger delete-btn"
                (click)="deleteRecipe(recipe)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </li>
            <li *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient.quantity }}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
