<!-- <div *ngFor="let recipe of fav">
  <p>{{ recipe.label }}</p>
  <p>{{ recipe.calories }}</p>
</div> -->
<div id="container">
  <div class="shopping-list-container">
    <h2 class="mb-4">Shopping List</h2>
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Ingredients</label>
          <input type="text" id="name" class="form-control" />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Quantitiy</label>
          <input type="number" id="amount" class="form-control" />
        </div>
        <div class="col-sm-5 form-group d-flex align-items-end">
          <button class="btn btn-success btn-action" type="submit">Add</button>
          <button
            class="btn btn-danger btn-action"
            type="button"
            onclick="deleteItem()"
          >
            Remove
          </button>
        </div>
      </div>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Recipe Ingredients</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tr *ngFor="let recipe of fav">
        <td>
          <ul class="list-unstyled">
            <li>
              {{ recipe.label }}
            </li>
            <li *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient.food }}
            </li>
          </ul>
        </td>
        <td>
          <ul class="list-unstyled">
            <li>
              <button
                class="btn btn-danger delete-btn"
                (click)="deleteRecipe(recipe)"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </li>
            <li *ngFor="let ingredient of recipe.ingredients">
              {{ ingredient.quantity }}
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
