<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let plan of cardsArray">
      <div class="card" [@cardHover]="cardState"></div>
      <div class="card mb-4">
        <img [src]="plan.imageUrl" class="card-img-top" alt="Card image" />
        <div class="card-body">
          <h5 class="card-title">{{ plan.planName }}</h5>
          <p class="card-text">{{ plan.description }}</p>
          <a
            [routerLink]="['/meal-plan', plan.planName]"
            class="btn btn-primary"
            id="custom-button"
          >
            Get Meal Plan
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
