* {
  margin: 0;
  padding: 0;
  font-family: lato, sans-serif;
  scroll-behavior: smooth;
  font-style: var(--black);
}

:root {
  --green: #96a535;
  --beige: #ede3d3;
  --black: #141402;
  --white: #f5f5f5;
  --maintransition: all 0.3s linear;
  --gradient: linear-gradient(60deg, #e9ae05 15%, #dd7215 50%, #98a60c 85%);
}

.recipe-search-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid #ccc;
  border-radius: 4px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.ingredients-container {
  margin-bottom: 20px;
}

.checkbox-container,
.show-checkboxes {
  display: none;
}

.show-checkboxes {
  display: block;
  margin-top: 10px;
}

.checkbox-container div {
  display: inline-block;
  margin-right: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

button,
button:hover,
button:active,
.field span,
.field span:hover,
.field span:active {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

/* Opacity on default */
.yellow,
button,
.field span,
input[type="submit"] {
  opacity: 1;
}

button:hover,
button:active,
.field span:hover,
.field span:active,
.footer:hover,
.footer:active {
  transition: var(--maintransition) !important;
  opacity: 0.7;
}

button,
button:hover,
button:active,
.field span,
.field span:hover,
.field span:active {
  background-color: var(--green) !important;
}

.field {
  display: flex;
}
