<div class="recipe-search-form">
  <h2>Recipe Search</h2>

  <div class="form-group">
    <label for="ingredientInput">Ingredients</label>
    <div class="ingredients-container">
      <div class="mb-5" id="ingredientsWrapper">
        <p class="fw-normal" style="text-align: left!important;">Enter the first ingredient before adding more.</p>
        <div class="px-5 field mb-3" *ngFor="let ingredient of ingredients; let i = index">
          <input type="text" class="border-0 me-2 form-control form-control-sm" [(ngModel)]="ingredients[i]" autofocus>
          <span class="btn px-3 btn-primary" (click)="removeIngredient(i)">&#8722;</span>
        </div>
        <div class="px-5 field mb-3">
          <input type="text" class="border-0 me-2 form-control form-control-sm" [(ngModel)]="ingredientInput" placeholder="Enter ingredient" autofocus>
          <span class="btn px-3 btn-primary" (click)="addIngredient()">&#43;</span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="form-group" (click)="toggleCheckbox('dishType')">
    <label>Dish Types:</label>
    <div class="checkbox-container" [class.show-checkboxes]="showDishTypeCheckboxes">
      <div *ngFor="let dishType of dishTypeList">
        <input type="checkbox" id="{{ dishType.value }}" [(ngModel)]="dishType.selected" (change)="toggleDishType(dishType)">
        <label for="{{ dishType.value }}">{{ dishType.label }}</label>
      </div>
    </div>
  </div>
  
  <div class="form-group" (click)="toggleCheckbox('diet')">
    <label>Diet Labels:</label>
    <div class="checkbox-container" [class.show-checkboxes]="showdietCheckboxes">
      <div *ngFor="let diet of dietList">
        <input type="checkbox" id="{{ diet.value }}" [(ngModel)]="diet.selected" (change)="togglediet(diet)">
        <label for="{{ diet.value }}">{{ diet.label }}</label>
      </div>
    </div>
  </div>
  
  <div class="form-group" (click)="toggleCheckbox('allergies')">
    <label>Allergies/Restrictions:</label>
    <div class="checkbox-container" [class.show-checkboxes]="showAllergiesCheckboxes">
      <div *ngFor="let allergy of allergiesList">
        <input type="checkbox" id="{{ allergy.value }}" [(ngModel)]="allergy.selected" (change)="toggleAllergy(allergy)">
        <label for="{{ allergy.value }}">{{ allergy.label }}</label>
      </div>
    </div>
  </div>
  
  <div class="form-group" (click)="toggleCheckbox('cuisineType')">
    <label>Cuisine Type:</label>
    <div class="checkbox-container" [class.show-checkboxes]="showCuisineTypeCheckboxes">
      <div *ngFor="let cuisine of cuisineTypesList">
        <input type="checkbox" id="{{ cuisine.value }}" [(ngModel)]="cuisine.selected" (change)="toggleCuisineType(cuisine)">
        <label for="{{ cuisine.value }}">{{ cuisine.label }}</label>
      </div>
    </div>

    <button class="btn btn-primary" (click)="searchRecipes()">Search</button>
  </div>

</div>
  